
[medusahc_calibrate]
pin: ^PD13
travel_speed: 20  
spread: 7  # mms to travel sideways for XY probing
lower_z: 0.6  # mms to travel down from top for XY probing
speed: 2  # The speed (in mm/sec) to move tools down onto the probe
lift_speed: 4  # The speed (in mm/sec) to retract between probes
final_lift_z: 6 # Z Lift after probing done, should be greater than any Z variance between tools
sample_retract_dist:2
samples_tolerance:0.03
samples_tolerance_retries: 20
samples:8
samples_result: median # median, average
# Settings for nozzle probe calibration - optional.

probe: probe # name of the nozzle probe to use
trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.


[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
# Uses probe_x/probe_y/probe_z from [medusahc_calibrate].
gcode:
    MHC_CALIBRATE_MOVE_OVER_PROBE

[gcode_macro CALIBRATE_TOOL_OFFSETS]
gcode:
    MHC_CALIBRATE_TOOL_OFFSETS


[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    MHC_CALIBRATE_NOZZLE_PROBE_OFFSET

[gcode_macro CALIBRATE_AND_SAVE_OFFSETS]
gcode:
    MHC_CALIBRATE_AND_SAVE_OFFSETS

      

[gcode_macro SAVE_TOOL_GCODE_OFFSETS]
description: Save TOOL_OFFSET tN_off_* into save_variables
gcode:
    {% if 'T' not in params %}
        RESPOND MSG="SAVE_TOOL_GCODE_OFFSETS: missing T"
        ERROR
    {% else %}
        MHC_SAVE_TOOL_GCODE_OFFSETS T={params.T|int}
    {% endif %}
 
