[medusahc]
init_delay: 2.0
verbose: 0
assign_delay: 0.0

y_safe: -5
y_latch: -57.6
x_shift: 9
fast_accel: 10000
fast_speed: 300
y_prime: -52
y_brush: -38
x_prime_shift: 12
e_open: -4
e_close: 0.5
e_cur_high_mult: 1.6

# Toolhead switch (1 when a tool is mounted)
pin_e: ^!PF10

[medusahc_tool 0]
dock_pin: ^!PF2
x_base: 5
offset_x: 0.0
offset_y: 0.0
offset_z: 0.0
prime_amount: 10
prime_speed: 30
prime_retract: 0.5
prime_retract_speed: 30
clean_move_x: 10
clean_move_y: -2
clean_move_speed: 15
clean_retract: 1.5
clean_retract_speed: 30
first_prime_flag: 1
first_prime_amount: 15
first_prime_speed: 15

[medusahc_tool 1]
dock_pin: ^!PF1
x_base: 66
offset_x: 0.0
offset_y: 0.0
offset_z: 0.0
prime_amount: 10
prime_speed: 30
prime_retract: 0.5
prime_retract_speed: 30
clean_move_x: 10
clean_move_y: -2
clean_move_speed: 15
clean_retract: 1.5
clean_retract_speed: 30
first_prime_flag: 1
first_prime_amount: 15
first_prime_speed: 15

[medusahc_tool 2]
dock_pin: ^!PF0
x_base: 127
offset_x: 0.0
offset_y: 0.0
offset_z: 0.0
prime_amount: 10
prime_speed: 30
prime_retract: 0.5
prime_retract_speed: 30
clean_move_x: 10
clean_move_y: -2
clean_move_speed: 15
clean_retract: 1.5
clean_retract_speed: 30
first_prime_flag: 1
first_prime_amount: 15
first_prime_speed: 15

[medusahc_tool 3]
dock_pin: ^!PC15
x_base: 188
offset_x: 0.0
offset_y: 0.0
offset_z: 0.0
prime_amount: 10
prime_speed: 30
prime_retract: 0.5
prime_retract_speed: 30
clean_move_x: 10
clean_move_y: -2
clean_move_speed: 15
clean_retract: 1.5
clean_retract_speed: 30
first_prime_flag: 1
first_prime_amount: 15
first_prime_speed: 15

[duplicate_pin_override]
pins: mcu:PF2, mcu:PF1, mcu:PF0, mcu:PC15, mcu:PF10, mcu:PG13, mcu:PG12, mcu:PG15

[extruder]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 4.55
pressure_advance: 0.03
pressure_advance_smooth_time: 0.019
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0 
sensor_pin: PB0 
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 36.193
pid_Ki: 16.086
pid_Kd: 20.358
min_temp: 0
max_temp: 290
max_extrude_cross_section: 9999999
max_extrude_only_distance: 700
min_extrude_temp: 0
smooth_time: 2.0

[extruder1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 4.55
pressure_advance: 0.03
pressure_advance_smooth_time: 0.019
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_pin: PC5
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 39.669
pid_Ki: 16.529
pid_Kd: 23.801
min_temp: 0
max_temp: 290
max_extrude_cross_section: 9999999
max_extrude_only_distance: 700
min_extrude_temp: 0
smooth_time: 2.0

[extruder2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 4.55
pressure_advance: 0.03
pressure_advance_smooth_time: 0.019
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA3
sensor_pin: PC4
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 34.002
pid_Ki: 8.396
pid_Kd: 34.427
min_temp: 0
max_temp: 290
max_extrude_cross_section: 9999999
max_extrude_only_distance: 700
max_extrude_only_velocity: 150
min_extrude_temp: 0
smooth_time: 2.0


[extruder3]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 4.55
pressure_advance: 0.03
pressure_advance_smooth_time: 0.019
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA5
sensor_pin: PA7
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 28.904
pid_Ki: 12.846
pid_Kd: 16.258
min_temp: 0
max_temp: 290
max_extrude_cross_section: 9999999
max_extrude_only_distance: 700
min_extrude_temp: 0
smooth_time: 2.0

[gcode_macro T0]
gcode:
    RESPOND MSG="SET T0"
    SET T=0

[gcode_macro T1]
gcode:
    RESPOND MSG="SET T1"
    SET T=1
    
[gcode_macro T2]
gcode:
    RESPOND MSG="SET T2"
    SET T=2
   
[gcode_macro T3]
gcode:
    RESPOND MSG="SET T3"
    SET T=3



[servo my_servo]
pin: PE9
initial_angle:0

[heater_fan fan1]
pin: PF7
heater: extruder
heater_temp: 50.0

[heater_fan fan2]
pin: PF9
heater: extruder1
heater_temp: 50.0

[heater_fan fan3]
pin: PF6
heater: extruder2
heater_temp: 50.0


[heater_fan fan4]
pin: PF8
heater: extruder3
heater_temp: 50.0


[verify_heater extruder]
check_gain_time: 20
hysteresis: 10
heating_gain: 1

[verify_heater extruder1]
check_gain_time: 20
hysteresis: 10
heating_gain: 1

[verify_heater extruder2]
check_gain_time: 20
hysteresis: 10
heating_gain: 1

[verify_heater extruder3]
check_gain_time: 20
hysteresis: 10
heating_gain: 1


