#####################################################################
# Sexball kinematic probe calibration (optional)
# Deploy scripts/medusahc_calibrate.py → ~/klipper/klippy/extras/
#####################################################################

[medusahc_calibrate]
pin: ^PD13
travel_speed: 20
spread: 7
lower_z: 0.6
speed: 2
lift_speed: 4
final_lift_z: 6
sample_retract_dist: 2
samples_tolerance: 0.03
samples_tolerance_retries: 20
samples: 8
samples_result: median
probe: probe
trigger_to_bottom_z: 0.25
probe_x: 223
probe_y: 210
probe_z: 60
probe_speed: 10000
probe_nozzle_temp: 150
park_x: 20
park_y: 220
